* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-height: 100vh;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555;
    padding: 1rem 2rem;
    margin: auto;

}
.container h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.container .todo-input {
    max-width: 800px;
    width: 70%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .todo-input input[type=text] {
    /* max-width: 800px; */
    /* width: 80%; */
    width: 80%;
    padding: 15px;
    /* border-radius: 10px; */
    outline: none;
    border: 2px solid #666;
    background: none;
    color: #999;
    font-size: 17px;
}
.container .todo-input input[type=submit] {
    padding: 15px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
    background-color: aqua;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.container .list-items {
    
    margin-top: 2rem;
    /* background-color: #999; */
    max-width: 1200px;
    width: 70%;
    margin-bottom: 1rem;
}
.container .list-items li {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #333;
    margin-bottom: 1rem;
    
}
.container .list-items li span {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(4, 2, 2);
}
.container .list-items li .list-btn {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    border: none;

}
.done {
    background-color: rgb(43, 119, 77);
    color: #eee;
    cursor: pointer;
}
.remove {
    background-color: rgb(191, 71, 2);
    color: #eee;
    cursor: pointer;
}